@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html,
body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#logo {
  height: 30px;
  width: 30px;
}
.top-section {
  margin-bottom: 30px;
}
.top-section h2 {
  display: flex;
  align-items: center;
  gap: 10px;
}

#temperature-units-button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}
#date-location-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#date {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}
.mid-section {
  margin-bottom: 20px;
}
#weather-info {
  display: flex;
  gap: 50px;
}
#extra-info-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 170px;
  border: 2px solid black;
  border-radius: 5px;
}
#searchbar {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  gap: 5px;
}

#searchbar input {
  height: 28px;
  border-radius: 5px;
}

.forecast-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 300px;
  border: 2px solid black;
  border-radius: 5px;
}

.temperature-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}

.bottom-section {
  display: flex;
  gap: 20px;
}
